{
    "openapi": "3.1.0",
    "info": {
        "title": "Deflect API",
        "description": "API endpoints for Deflect Antibot",
        "license": {
            "name": "MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.deflect.bot"
        }
    ],
    "paths": {
        "/verify": {
            "post": {
                "description": "Fetch bot verdict for a user session token",
                "requestBody": {
                    "description": "Plant to add to the store",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Verdict"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Plant"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "webhooks": {},
    "components": {
        "schemas": {
            "Verdict": {
                "required": [
                    "api_key",
                    "token"
                ],
                "type": "object",
                "properties": {
                    "api_key": {
                        "description": "Your Deflect API Key",
                        "type": "string"
                    },
                    "token": {
                        "description": "The user session token from the protected endpoint.",
                        "type": "string"
                    },
                    "email": {
                        "description": "The email of your user. Only needed for register defense action.",
                        "type": "string"
                    }

                }
            },
            "Error": {
                "required": [
                    "error",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "error": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer"
            }
        }
    }
}